<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar sid collapse"
>
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <!-- Dashboard -->
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/home">
          <i class="bi bi-house-door"></i>
          Dashboard
        </a>
      </li>
      <!-- Map View -->
      <li class="nav-item">
        <a class="nav-link" href="/map-view">
          <i class="bi bi-geo-alt-fill"></i>
          Map View
        </a>
      </li>
      <!-- Route Creation -->
      <li class="nav-item">
        <a class="nav-link" href="/route-creation">
          <i class="bi bi-plus-square"></i>
          Route Creation
        </a>
      </li>
      <!-- Route Optimization -->
      <li class="nav-item">
        <a class="nav-link" href="/route-optimization">
          <i class="bi bi-map-fill"></i>
          Route Optimization
        </a>
      </li>
      <!-- Data Manipulation -->
      <li class="nav-item">
        <a class="nav-link" href="/data-manipulation">
          <i class="bi bi-funnel"></i>
          Data Manipulation
        </a>
      </li>
      <!-- Reports -->
      <li class="nav-item">
        <a class="nav-link" href="/reports">
          <i class="bi bi-file-earmark-text"></i>
          Reports
        </a>
      </li>
      <!-- Admin Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/admin">
          <i class="bi bi-gear-fill"></i>
          Admin
        </a>
      </li>
      <!-- Service Planning Support -->
      <li class="nav-item">
        <a class="nav-link" href="/service-planning">
          <i class="bi bi-bar-chart-line"></i>
          Service Planning
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">
          <i class="bi bi-patch-question"></i>
          About
        </a>
      </li>
      <!-- Logout -->
      <li class="nav-item">
        <a class="nav-link" href="/logout">
          <i class="bi bi-box-arrow-right"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
