<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar sid collapse"
>
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/home">
          <i class="bi bi-house"></i>
          Dashboard
        </a>
      </li>
       </li>
      <li class="nav-item">
        <a class="nav-link" href="/stops">
          <i class="bi bi-stop-circle "></i>
          Stops
        </a>
      </li>
       </li>
      <li class="nav-item">
        <a class="nav-link" href="/sequences">
           <i class="bi bi-arrow-right-square-fill"></i>
          Stop Sequences
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/routes">
           <i class="bi bi-map-fill"></i>
          Routes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trips">
           <i class="bi bi-truck"></i>
          Trips
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calendars">
           <i class="bi bi-calendar-fill"></i>
         Calendar
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">
          <i class="bi bi-patch-question"></i>
          About
        </a>
      </li>
    </ul>
  </div>
</nav>