<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Public Transport Route Optimization System</h1>
</div>

<div class="pt-3">
  <p>
    Welcome to the administrative hub of the Public Transport Route Optimization
    System, an advanced tool designed to enhance urban mobility by leveraging
    data-driven insights. This system empowers transit authorities with
    intelligent route planning, ensuring efficiency, reduced travel time, and
    improved public transport accessibility.
  </p>
</div>
