body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.interactive-heading {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    gap: 8px;
    padding: 5px 10px;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.heading-bg {
    background-color: #2C3E50;
}

.interactive-heading span {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.files-heading {
    background-color: #436281;
}

.select-region {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.horizontal-pane {
    background-color: #858688;
    padding: 15px;
    border: 1px solid #b1b3b6;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.horizontal-pane .row {
    height: 100%; /* Ensure row takes full height of container */
}

.horizontal-pane .card {
    height: 100%; /* Ensure each card takes full height of its column */
    display: flex;
    flex-direction: column;
}

.horizontal-pane .card-body {
    flex-grow: 1; /* Allow card-body to grow and fill available space */
    overflow: auto; /* Retain scroll for overflow content */
}

.map-container {
    /* height: calc(100vh - 300px); Adjusted height to account for three sections + margins */

    margin-bottom: 20px;
}

#map {
    height: 90vh; /* Increase height to 80% of viewport */
    width: 100%; /* Ensure full width */
}

.map-placeholder {
    height: 100%;
    width: 100%;
    background-color: #e9ecef;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.map-overlay {
    text-align: center;
}

.route-preview {
    margin: 5px 0;
    font-weight: bold;
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.card {
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
}

.card-header {
    border-radius: 10px 10px 0 0;
}

.form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
}

.form-check-label {
    cursor: pointer;
    transition: color 0.3s ease;
}

.form-check-label:hover {
    color: #007bff;
}

@media (max-width: 768px) {
    .horizontal-pane .row {
        flex-direction: column;
    }
    .horizontal-pane .col-md-4 {
        width: 100%; /* Full width on small screens */
        margin-bottom: 15px; /* Space between stacked cards */
    }
    .map-container {
        height: calc(100vh - 450px); /* Adjusted for stacked layout with three sections */
    }
}

.col-md-4{
    padding: 0.5rem;
}